#input_1_27.ginput_product_price {
  font-size: 24px;
  font-weight: bolder;
  color: #92c700;
}

.gf_stylespro .instruction {
  display: none;
}

#input_1_66.ginput_product_price {
  color: #92c700;
  font-size: 24px;
  font-weight: bolder;
}

.button.secondary {
  display: none;
}